{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<nav class="nav">
			<div class="custom-container px-2 w-100">
				<div class="logo">
					<a href="#">
						<img height="80" src="{{ asset('uploads/logo_sm.png')}}" alt="Logo Nicolas Halberstadt">
					</a>
				</div>
				<div class="main_list vt323">
					<ol class="navlinks">
						<li>
							<a href="#tarifs">tarifs</a>
						</li>
						<li>
							<a href="#realisations">réalisations</a>
						</li>
						<li>
							<a href="#a-propos">à propos</a>
						</li>
						<li>
							<a href="#contact">contact</a>
						</li>
					</ol>
				</div>
				<span class="nav-trigger">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</div>
		</nav>
	</header>
	<section id="head">
		<div class="container">
			<div class="name">
				<img src="{{asset('uploads/logo_xl.png') }}" alt="">
			</div>
			<h1 class="title">Créateur de sites internet sur mesure dans toute la France</h1>
			<div class="key-points row row-cols-2 row-cols-md-4 g-2">
				<div class="point col">
					<span class="icon">
						<i class="fas fa-rocket"></i>
					</span>
					<h5>Livraison rapide</h5>
					<p>Votre site en ligne dans les meilleurs délais, sans compromis sur la qualité.</p>
				</div>
				<div class="point col">
					<span class="icon">
						<i class="fas fa-wallet"></i>
					</span>
					<h5>Pas de coûts cachés</h5>
					<p>Un tarif clair et transparent.</p>
				</div>
				<div class="point col">
					<span class="icon">
						<i class="fas fa-cogs"></i>
					</span>
					<h5>Gestion simplifiée</h5>
					<p>Gérez vos contenus en toute autonomie grâce à une interface simple.</p>
				</div>
				<div class="point col">
					<span class="icon">
						<i class="fas fa-headset"></i>
					</span>
					<h5>Support 7/7</h5>
					<p>Une assistance disponible à tout moment pour vous accompagner.</p>
				</div>
			</div>
			<div>
				<a href="#contact" class="button button--stroke vt232 contact-button mt-5" data-block="button">
					<span class="button__flair"></span>
					<span class="button__label">Demandez un devis gratuit</span>
				</a>
			</div>
			<div class="arrow">
				<a href="#a-propos"></a>
			</div>
		</div>
	</section>

	<section id="tarifs">
		<div class="container">
			<h2 class="number vt323">
				<span class="neon-green">01.</span>
				Tarifs
			</h2>
			<div class="tabs-switcher mt-4">
				<button id="vitrine" class="active">Site vitrine</button>
				<button id="commerce">Site E-Commerce</button>
			</div>
			<div
				class="tabs">
				<!-- Site vitrine -->
				<div class="tab vitrine active" id="vitrine">
					<div class="row row-cols-1 mt-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 text-center">
								<p>
									Un site vitrine complet et conçu sur mesure pour refléter l’identité de votre activité.
									<br>
									Parfait pour mettre en avant vos services, vos valeurs et faciliter le contact avec vos clients.
								</p>
								<h3 class="text-center d-block neon-green">À partir de 1700€</h3>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 mt-2 mt-md-0 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="vitrineProcess">
								<h3>Le processus de création
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 vitrineProcess folder">
									<li>
										<strong>Échange sur vos besoins et objectifs</strong>
									</li>
									<li>
										<strong>Conception du design et intégration des contenus</strong>
									</li>
									<li>
										<strong>Révisions et ajustements</strong>
									</li>
									<li>
										<strong>Mise en ligne du site</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 mt-2 mt-md-0 row-cols-md-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="vitrinePrices">
								<h3>Ce prix comprend
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 vitrinePrices folder">
									<li>Un accompagnement pour choisir et acheter votre nom de domaine et hébergement</li>
									<li>Un design adapté à tous les écrans et optimisé pour le référencement (SEO)</li>
									<li>Une adresse e-mail professionnelle (@votreentreprise.com)</li>
									<li>Une structure comprenant jusqu’à 4 pages</li>
									<li>Vos contenus parfaitement intégrés : textes, images, logo, etc.</li>
									<li>Un site rapide et une configuration complète</li>
									<li>Une formation d'1h à l'utilisation de votre site</li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 fold-btn" id="vitrineOptions">
								<h3>
									Options supplémentaires
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 vitrineOptions folder">
									<li>
										Configuration d’adresses e-mail professionnelles supplémentaire
										<strong>(+ 30€ TTC par adresse)</strong>
									</li>
									<li>
										Suivi analytique et rapports personnalisés
										<strong>(+ 150€ TTC)</strong>
									</li>
									<li>
										Mise en place de mesures de sécurité avancées (SSL, protection contre les attaques)
										<strong>(+ 200€ TTC)</strong>
									</li>
									<li>
										Site bilingue Français - Anglais
										<strong>(+ 150€ TTC)</strong>
									</li>
									<li>
										Création d’un blog intégré
										<strong>(+ 200€ TTC)</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 mt-2 mt-md-0 row-cols-md-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="vitrineSAV">
								<h3>Service après vente
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<div class="my-2 folder vitrineSAV">
									<p>Accompagnement gratuit pendant le premier mois après la mise en ligne. Les modifications supplémentaires seront facturées à
										<strong>50€ TTC/heure</strong>
										après cette période.</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 fold-btn" id="vitrinePayment">
								<h3>Conditions de paiement
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<div class="my-2 folder vitrinePayment">
									<p>
										<strong>Acompte de 30%</strong>
										demandé à la signature du contrat.
										<strong>Le solde de 70%</strong>
										est dû à la livraison du site.</p>
									<p>
										<em>Possibilité d'échelonner chaque paiement en
											<strong>4 fois sans frais</strong>
											avec PayPal&#169;</em>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- ################### Site E-Commerce ################### -->
				<div class="tab e-commerce" id="commerce">
					<div class="row row-cols-1 mt-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 text-center">
								<p>
									Un site e-commerce performant, pensé pour simplifier la gestion de vos produits et offrir une expérience d’achat fluide.<br>
									Une solution idéale pour développer vos ventes en ligne et toucher un public plus large.
								</p>
								<h3 class="neon-green">À partir de 2500€</h3>
							</div>
						</div>
					</div>
					<div class="row row-cols-1 mt-2 mt-md-0 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="ecomProcess">
								<h3>Le processus de création
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 folder ecomProcess">
									<li>
										<strong>Échange sur vos besoins et objectifs</strong>
									</li>
									<li>
										<strong>Conception du design et intégration des contenus</strong>
									</li>
									<li>
										<strong>Révisions et ajustements</strong>
									</li>
									<li>
										<strong>Mise en ligne du site</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 mt-2 mt-md-0 row-cols-md-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="ecomPrices">
								<h3>Ce prix comprend
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 folder ecomPrices">
									<li>Un accompagnement pour choisir et acheter votre nom de domaine et hébergement</li>
									<li>Un design adapté à tous les écrans et optimisé pour le référencement (SEO)</li>
									<li>3 adresses e-mail professionnelles (@votreentreprise.com)</li>
									<li>Une structure comprenant jusqu’à 6 pages</li>
									<li>Vos contenus parfaitement intégrés : textes, images, logo, etc</li>
									<li>30 fiches produits</li>
									<li>Un site rapide et une configuration e-commerce complète</li>
									<li>Une formation de 2h à l'utilisation de votre site</li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 fold-btn" id="ecomOptions">
								<h3>Options supplémentaires
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<ul class="my-2 folder ecomOptions">
									<li>
										Configuration d’adresses e-mail professionnelles supplémentaire
										<strong>(+ 30€ TTC par adresse)</strong>
									</li>
									<li>
										Suivi analytique et rapports personnalisés
										<strong>(+ 150€ TTC)</strong>
									</li>
									<li>
										Mise en place de mesures de sécurité avancées (SSL, protection contre les attaques)
										<strong>(+ 200€ TTC)</strong>
									</li>
									<li>
										Site bilingue Français - Anglais
										<strong>(+ 150€ TTC)</strong>
									</li>
									<li>
										Création d’un blog intégré
										<strong>(+ 200€ TTC)</strong>
									</li>
									<li>
										50 produits supplémentaires
										<strong>(+ 200€ TTC)</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row row-cols-1 mt-2 mt-md-0 row-cols-md-2 g-2 g-md-4">
						<div class="col">
							<div class="card h-100 fold-btn" id="ecomSAV">
								<h3>Service après vente
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<div class="my-2 folder ecomSAV">
									<p>Accompagnement gratuit pendant les 2 premiers mois après la mise en ligne. Les modifications supplémentaires seront facturées à
										<strong>50€ TTC/heure</strong>
										après cette période.</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card h-100 fold-btn" id="ecomPayment">
								<h3>Conditions de paiement
									<span class="d-inline-block mx-3 d-md-none">
										<i class="fa-solid fa-chevron-down"></i>
									</span>
								</h3>
								<div class="my-2 folder ecomPayment">
									<p>
										<strong>Acompte de 30%</strong>
										demandé à la signature du contrat.
										<strong>Le solde de 70%</strong>
										est dû à la livraison du site.</p>
									<p>
										<em>Possibilité d'échelonner chaque paiement en
											<strong>4 fois sans frais</strong>
											avec PayPal&#169;</em>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="sales">
		<div class="container">
			<h2 class="">Prenez le contrôle de votre boutique en ligne avec un site personnalisé !</h2>
			<div class="comparateur">
				<h3>Pourquoi opter pour WooCommerce dans la gestion de vos ventes ?</h3>
				<p>En choisissant l'offre E-Commerce, vous profitez de la flexibilité et de la puissance de WooCommerce, une extension idéale pour gérer facilement vos ventes sur WordPress.</p>
				<h3>
					Simulez vos frais en fonction de vos revenus
					<span class="sliders-toggle">
						<i class="fa-solid fa-chevron-down"></i>
					</span>
				</h3>
				<div id="slidersContainer">
					<div class="sliders row align-items-start">
						<div class="slider col-12 col-md-6">
							<label for="salesSlider">Revenus estimés (€) :</label>
							<input type="range" class="sales-input" name="sales_value" id="salesSlider" min="0" max="5000" step="100" value="0">
							<span id="salesSliderValue">0 €</span>
						</div>

						<div class="average-sale col-12 col-md-6">
							<label for="averageSale">Prix moyen par vente (€) :</label>
							<input type="number" class="sales-input" id="averageSale" value="50" min="1" step="1">
						</div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Plateforme</th>
								<th>Abonnement mensuel</th>
								<th>Frais de transaction</th>
								<th>Montant final</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Etsy</td>
								<td>0€</td>
								<td>
									<span class="amount" id="etsyFee">0</span>€
									<br>(6.5% + 4% + 0.30€/vente + 0.47€/article)
								</td>
								<td>
									<span id="etsyRemaining">0</span>€</td>
							</tr>
							<tr>
								<td>WooCommerce</td>
								<td>0€</td>
								<td>
									<span class="amount" id="woocommerceFee">0</span>€
									<br>(1.4% + 0.25€/vente)
								</td>
								<td>
									<span id="woocommerceRemaining">0</span>€</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="realisations" class="w-100">
	<div class="container">
		<h2 class="number vt323">
			<span class="neon-green">02.</span>
			Réalisations
		</h2>
		<div class="projets">
			<a target="_blank" href="https://mizoatelier.com" class="card mizoboutik">
				<div class="card-img-top">
					<img src="{{ asset('uploads/mizoboutik.png') }}" alt="Projet Mizoatelier">
				</div>
			</a>
			<a target="_blank" href="https://mizoatelier.com" class="card mizoboutik">
				<div class="card-body">
					<h5 class="card-title">L'atelier Mizo</h5>
					<p class="card-text">
						Création d'une boutique en ligne avec WooCommerce : gestion des ventes en Europe, frais de livraison par zone, intégration Apple Pay, Google Pay et PayPal.
					</p>
				</div>
			</a>
		</div>
	</div>
</section>

<section id="a-propos">
	<div class="container">
		<h2 class="number vt323">
			<span class="neon-green">03.</span>
			A propos de moi</h2>
		<div class="d-block d-md-flex">
			<div class="col-12 col-md-6 left-panel light-grey mb-4">
				Après plusieurs années d’expérience dans le web, je me suis spécialisé dans la conception de sites internet. Mon travail vise à associer performance, ergonomie et esthétisme pour des réalisations qui se distinguent.
				<br/>
				<br/>
				Mon ambition est de donner vie à vos idées en réalisant un site qui vous ressemble. Passionné par les défis, je cherche toujours des solutions innovantes pour répondre aux besoins spécifiques de chaque client.
				<br/>
				<a href="#contact">Contactez-moi</a>
				pour échanger sur votre projet ou en savoir plus sur mes services !
			</div>
			<div class="col-12 col-md-6 right-panel">
				<img src="{{ asset('uploads/me.png')}}" height="300" alt="Mon portrait">
			</div>
		</div>
	</div>
</section>
<section id="contact">
	<div class="container">
		<h2 class="number vt323">
			<span class="neon-green">04.</span>
			Contact
		</h2>
		<div class="form-container">
			{{ form_start(form, { 'attr': { 'id': 'contact-form', 'action': '/contact', 'method': 'POST', 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }}
			<div class="row">
				<div class="col-12 col-md-6">
					{{ form_row(form.firstname) }}
					<div class="invalid-feedback">test</div>
				</div>
				<div class="col-12 col-md-6">
					{{ form_row(form.lastname) }}
					<div class="invalid-feedback">test</div>
				</div>
			</div>
			{{ form_row(form.email) }}
			<p class="m-0">{{ form_label(form.type) }}</p>
			<div id="contact_type">
				{% for choice in form.type %}
					<div class="radio-item">
						{{ form_widget(choice) }}
						{{ form_label(choice) }}
					</div>
				{% endfor %}
			</div>
			<div class="message">
				{{ form_row(form.message) }}
				<div id="charCount">
					<span id="count">0</span>/50</div>
			</div>
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
			<div id="loading">
				<p>Envoi en cours</p>
			</div>
			<div id="successMessage">
				<div class="message-container"></div>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="w-100">
	<div class="container">
		<div class="footer-top">
			<h3 class="vt323">Merci de votre visite !</h3>
		</div>
		<div class="footer-content">
			<div class="social-links">
				<a href="https://www.linkedin.com/in/nicolashalberstadt" target="_blank" aria-label="LinkedIn">
					<i class="fa-brands fa-linkedin"></i>
				</a>
				<a href="mailto:contact@nicolashalberstadt.com?subject=Demande de contact" aria-label="Email">
					<i class="fas fa-envelope"></i>
				</a>
			</div>
			<p>&copy;
				{{ "now"|date('Y') }}
				Nicolas Halberstadt. Tous droits réservés.</p>
		</div>
	</div>
</footer>{% endblock %}
